body {
    padding-top: 55px;
}

.btn-primary {
    background-color: #303030 !important;
    color: #f9f9f9 !important;
    border-color: #303030 !important;
}

.btn-primary:hover {
    background-color: #f9f9f9 !important;
    color: #ff7400 !important;
    border-color: #f9f9f9 !important;
}

.btn-secondary {
    background-color: #ff7400 !important;
    color: #f9f9f9 !important;
    border-color: #ff7400 !important;
}

.btn-secondary:hover {
    background-color: #303030 !important;
    color: #f9f9f9 !important;
    border-color: #f9f9f9 !important;
}